body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

button {
        cursor: pointer;

}

/* common */

.container { 
max-width: 1158px;
padding-left: 15px; 
padding-right: 15px; 
margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
        margin: 0;
}


section {
        padding-bottom: 120px;
        padding-top: 120px;
}


/* header */

.page-header {
        border-bottom: 1px solid #e7e9fc;
}

.header-container {
        display: flex;
        align-items: center;
}

.header-nav {
        display: flex;
        align-items: center;
}

.nav-list {

}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 76px;
}

.header-logo .logo-part {
        color: #2e2f42;
}

.nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
}

.nav-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover, 
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf
}

.address-list {
        display: flex;
        align-items: center;
        gap: 40px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* main */



/* title */

.title-page {
    background-color: #2e2f42;
}

 /* padding-bottom: 180px;
 padding-top: 180px; */


.title-container {
      display: block
} 

.title-page-text {
        display: block;
        font-weight: 700;
        font-size: 56px;
        margin: 0 auto;
        padding: 188px, 472px, 292px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        color: #fff;
        margin-bottom: 48px;
        margin-top: 68px;
       
        
}

.btn-title:hover,
.btn-title:focus {
    background-color: #404BBF
}

.btn {
        display: block;
        border-radius: 4px;
        padding: 16px 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        justify-content: center;
        margin: 0 auto;
        border: none;
       
}

.btn-title {
        margin-bottom: 68px;
}


/* benefit */

.hidden-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        overflow: hidden;
        white-space: nowrap;
}

.benefits-card {
        display: flex;
        text-align: left;
        justify-content: center;
        margin: 0 auto;
        padding-left: 156px;
        padding-right: 156px;
        gap: 24px;
        
}

.benefits-content {

}

.benefits-title {
        font-weight: 500;
        font-size: 20px;
        | line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.benefits-p {
        width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

/* hero */

.hero-block {
        padding: 0;
}


.hero-page {
    background-color: #f4f4fd;
}

.hero-card {
        background-color: #fff;
}

.title-hero {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 72px;
}

.hero {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
       
        
}

.hero-card {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px;
        margin: 0 10px;
        width: 264px;
                 
}

.team-s-title {
        padding-top: 32px;
}

.our-team-p {
        padding-top: 8px;
}



/* team */

.team-s-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.our-team-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* portfolio */

.portfolio-container {
        box-sizing: border-box;
        margin: 0 auto;
        
}

.our-portfolio {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 48px 24px;
      list-style: none;
      margin: 0;
}

.portfolio-card {
width: 360px;

}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}


.portfolio-title {
        padding-bottom: 72px;
}

.portfolio-s-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 32px;
        padding-bottom: 8px;
}

.portfolio-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
}

/* footer */

.footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
color: #f4f4fd;;
}

.footer-p {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}


.foot {
        display: block;
        max-width: 264px;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;
        margin-left: 156px;
}

.footer-p {
       margin-top: 16px;
}


